.App {
    display: flex;
    justify-content: center;
}

.content {
    width: 200px;
    height: 200px;
    border: grey 1px solid;
    background-color: aquamarine;
}

.counter {
    display: flex;
    justify-content: center;
}

/*button*/

.buttonBlock {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.button {
    width: 50px;
    height: 30px;
    background-color: #6c8e90;
    border: none;
}

.buttonActive:disabled {
    background-color: red;
}